<title>{{title}}</title>

<div class="alert alert-secondary alert-dismissible container mt-5 bg-light p-2 border border-1">
    <div class="fs-3 text-success">
        Bienvenido <span class="text-primary fw-semibold fs-3">{{user}}</span>
        <button class="btn btn-warning float-end m-2" id="btnLogout">Logout</button>
    </div>
</div>

<h2 class="text-center mt-3 text-primary">Productos <span class="text-secondary">(HBS)</span></h2>
<div class="container mt-4 bg-light p-2 border">
            <form action="/productos" enctype="application/x-www-form-urlencoded" method="POST" id="ingresarProducto">
            <div class="mb-5">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
                <label for="precio" class="form-label">Precio</label>
                <input type="number" class="form-control" id="precio" name="precio" step="0.01" required>
                <label for="foto" class="form-label">Foto URL</label>
                <input type="url" class="form-control" id="foto" name="foto" required>
                <label for="descripcion" class="form-label">Descripción</label>
                <textarea class="form-control" id="descripcion" name="descripcion" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary me-3">Cargar producto</button>
        </form>
    <div id="productos"></div>
</div>
<div class="container mt-5 bg-light p-2 border border-1">
    <form id="enviarMensaje">
        <h2 class="text-center mt-3 text-primary">Centro de Mensajes <span class="text-secondary">(JSON)</span></h2>
        <h3 id="compresion" class="text-center mt-3 text-primary"> Compresión: % </h3>
        <div class="container col-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre">
            <label for="apellido">Apellido</label>
            <input type="text" class="form-control" name="apellido">
            <label for="edad">Edad</label>
            <input type="number" class="form-control" name="edad">
            <label for="alias">Alias</label>
            <input type="text" class="form-control" name="alias">
            <label for="avatar">Url foto de perfil</label>
            <input type="url" class="form-control" name="avatar">
            <label for="message">Mensaje</label>
            <textarea class="form-control" name="text" rows="3" id="text"></textarea>
            <button type="submit" class="btn btn-primary m-2">Enviar</button>
        </div>
    </form>
    <hr>
    <div class="container" id="messages"></div>
</div>

<script src="../js/index.js"></script>
